@{
    ViewData["Title"] = "Home Page";
}
    <div class="container--image">

            <h1>Welcome to Acebook</h1>

            <div>
                <ul>
                    <li><a asp-controller="Home" asp-action="Sign-in" class="button">Sign up</a></li>
                    <li><a asp-controller="Home" asp-action="Log-in" class="button">Log-in</a></li>
                </ul>
            </div>
        </div>