@{
    ViewData["Title"] = "List of Post";
}

    <div class="container--column">

        <h1>Hi, @ViewBag.User</h1>

        <form class="card">
            <input type="text" placeholder="Message" required="" name="message" class="MessageField" />
            <input type="submit" value="Post" class="button button-end" />
        </form>

        <ul>
            @foreach (var item in ViewBag.Posts)
            {
                <li>
                    <div class="card card--min">
                        <a href="/post/EditPost" class="settings-icon"><img src="~/images/settings.svg" id="edit_post" class="settings-icon"/></a>
                        <p class="message_post">@item.Message</p>
                        <p class="PostedBy">-posted by me</p>
                    </div>
                </li>
            }
        </ul>
    </div>