@{
    ViewData["Title"] = "List of Post";
}

<h1>Hi, @ViewBag.User</h1>
<ul>
    @foreach (var item in ViewBag.Posts)
    {
        <li>
            <p>@item.Message</p>
        </li>
    }
</ul>