@{
    ViewData["Title"] = "Add new post";
}

<div class="left-half">


    <div class="card">
        <h1>Enter your information to Sign up</h1>

        <form asp-controller="Post" asp-action="Create" method="post">
            <input type="text" placeholder="Message" required="" name="message" class="form-input" />
            <input type="submit" value="Add" class="button" />
        </form>
    </div>
</div>